name: Build python packages for release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  python-package:
    name: "Build and publish python packages"
    runs-on: ubuntu-24.04
    environment:
      name: "release"
    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Build python package
        run: python3 setup.py sdist
      - name: Publish python package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
